.nothing__main-content{
    align-items: center;
    background-color:$primary;
    columns: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height:100vh;
    p{
        text-align:center ;
    }
}